<$ _.assign(meta, {
  title: "",
  description: "YOUR DESCRIPTION"
}) $>

<% extends "../layout/default" %>

<# Contents #>
<% block yield %>
  <pre>
  <div>Hello, dear colloquist.</div>
  <p>Token: <$ token $></p>
  </pre>
<% endblock %>
