Draft: <$ draft $>
Argument: <$ arg | dump $>
==============================
Error Detail:
[message]
<$ error.message $>
[stack]
<$ error.stack $>
==============================
Result
<$ result| dump $>
