{% extends "../layout.njk" %}

{% block yield %}
  <div class="row">
    <div class="col-4 align-center">
      <div>4</div>
    </div>
    <div class="col-4">
      <div>4</div>
    </div>
    <div class="col-4">
      <div>4</div>
    </div>
  <h2>FOUR-OH-FOUR</h2>
  {{ message }}
{% endblock %}
