{% extends "../layout.njk" %}

{% block yield %}
<div style="position:absolute;top:64px;left:0;right:0;bottom:0;">
  <div class="row text-center" style="font-size: 88px; font-family: Courier New; font-weight: bold; color: #777; position:absolute; top:50%;left:4%;;right:4%; transform:translateY(-50%);">
    <div class="col-4">
      <div>4</div>
      <div>FOUR</div>
    </div>
    <div class="col-4">
      <div>0</div>
      <div>OH</div>
    </div>
    <div class="col-4">
      <div>4</div>
      <div>FOUR</div>
    </div>
  </div>
</div>
{% endblock %}
